---
import Meta from "../../components/Layouts/Meta";
import Header from "../../components/Layouts/Header";
import BlogHeader from "../../components/Routes/Blog/Header";
import BlogContent from "../../components/Routes/Blog/Content";
import Footer from "../../components/Layouts/Footer";
import { secondIn } from "../../styles/animation.css";
import { formatDate } from "../../../lib/day-js";
import { createOgMap } from "../../../lib/og-scraper";
import { getBlogList } from "../../../lib/cms-client";

export async function getStaticPaths() {
	const blogs = await getBlogList();
	return blogs.map((blog) => ({
		params: { blogId: blog.id },
	}));
}

const blogs = await getBlogList();
const { blogId } = Astro.params;
const blog = blogs.find((b) => b.id === blogId);

if (blog === undefined || !blog) {
	return Astro.redirect("/404");
}

const ogMap = await createOgMap(blog.content);

---

<Meta title={`${blog.title} | NAARY.ME`} content={blog.summary}>
	<Header title={"About"} />
	<main class={secondIn}>
		<article>
			<BlogHeader
				imageSrc={blog.eyecatch.url}
				title={blog.title}
				summery={blog.summary}
				publishedAtYear={blog.publishedAt
					? formatDate(blog.publishedAt, "MMM D")
					: "Xxx X"}
				publishedAtDate={blog.publishedAt
					? formatDate(blog.publishedAt, "YYYY")
					: "XXXX"}
			/>
			<BlogContent content={blog.content} ogMap={ogMap} />
		</article>
	</main>
	<Footer />
</Meta>
